.profile-container {
  position: relative;
  display: inline-block;
  
}

.profile-icon {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.logout {
  color: red;
  font-weight: bold;
}